<%- include('../partials/header') %>

<h3>Employees</h3>
<div class="employeebox">
<table>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Wage</th>
    </tr>
    
    <% employees.forEach(function(employee){ %>
      <tr>

          <td><%= employee.name %></td>
          <td><%= employee.position %></td>
          <td>$<%= employee.wage %></td>
          <td><a href="/employees/<%= employee._id %>/edit"><button>Edit</button></a></td>
          <td><form action="/employees/<%=employee.id%>?_method=DELETE" method="POST"><button type="submit">X</button></form></td>
        </tr>
        <% }) %>
      
    </table>
  </div>
<form action="/employees" method=POST>
<label for="name">Name
    <input name="name" type="text">
  </label>
  <label for="position">Position
    <input name="position" type="text">
  </label>
  <label for="wage">Wage per Hour
    <input name="wage" type="number" placeholder="0.00" pattern="^\d*(\.\d{0,2})?$">
  </label>
  <input type="submit" value="Submit">
</form>


<a href="/schedules"><button>Back</button></a>

<%- include('../partials/footer') %>