<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    
 
    <div class="navbarbox">
      <nav>
        <div class="nav-wrapper">
          <a href="/">Home</a>
          <a href="/schedules" <%- title === "Schedule" ? 'class="active"' : '' %>>Schedules</a>
          <a href="/employees/new" <%- title === "Add Employees" ? 'class="active"' : '' %>>Add Employees</a>
          <a href="/shifts/new" <%- title === "Add Shifts" ? 'class="active"' : '' %>>Add Shifts</a>
          
          

              <% if (user) { %>
              <a href="/logout">Log Out</a>
              <% } else { %>
              <a href="/auth/google">Login with Google</a>
              <% } %>
           
        </div>
      </nav>
    </div>
    <h1><%= title %></h1>
    