<%- include('../partials/header') %>
<div class="box">

    <table class="table">
        <tr>
            <th><u>Week:</u></th>
        

        </tr>
        <br>
        
        <% schedules.forEach(schedule => { %>
            <% if (schedule.user._id.equals(user && user._id)) { %>
                
                <tr>
                    <td class="border">
                        <%= schedule.week.toLocaleDateString() %>
                    </td>
                    <td><a href="/schedulize/<%=schedule._id%>">Create/Edit</a></td>
                    <td><form action="/schedules/<%=schedule._id%>?_method=DELETE" method=POST><button>X</button></form></td>
                </tr>
                <% } %>
                <% }) %>
                <tr>
                    
                    <form action="/schedules" method="POST">
                        <td> 
                            <label for="date">Date:
                                <input class="select" type="date" name="week">
                            </label>
                        </td>
                        <td>
                            <input class="select" type="submit" value="Submit">
                        </td>      
                    </form>
                </tr>
                
            </table>
            
            
        </div>
            
            <%- include('../partials/footer') %>