<%- include('../partials/header') %>

<table class="table">
    <tr>
        <th>Week (Choose start of week)</th>

    </tr>
    <br>
    
    <% schedules.forEach(schedule => { %>
    <tr>
            <td class="border">
                
                <%= schedule.week %>
            </td>
                <td><a href="/schedulize/<%=schedule._id%>">Create/Edit</a></td>
                <td><form action="/schedules/<%=schedule._id%>?_method=DELETE" method=POST><button>X</button></form></td>
        </tr>
        <% }) %>
        <tr>
            
            <form action="/schedules" method="POST">
                <td> 
                    <label for="date">Start:
                        <input type="date" name="week">
                    </label>
                </td>
                <td>
                    <input type="submit" value="Submit">
                </td>      
            </form>
        </tr>
        
</table>



<%- include('../partials/footer') %>