<%- include('../partials/header') %>

<h3>Week:</h3>
<table>
    <tr>
        <th>Employee</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>

    <tr>
        
<% schedules.forEach(schedule => { %>
<td>
    <%= schedule.employeeName %>  
</td>    
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %>
</td>    
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %>
</td>  
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %>
</td>     
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %>
</td>  
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %> 
</td>  
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %> 
</td>  
<td>
    <%= `${schedule.startTime} - ${schedule.endTime}` %>
</td>  
<% }) %>  

    </tr>

    <tr>
        <form action="/schedules" method=POST>
        <td>
            <label>
            <select name="employee">
                <% employees.forEach(employee => { %>
                    <option value="<%= employee._id %>"><%= employee.name %></option>
                <% }) %>  
              </select>
            </td>
            <td>
                <select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select>
                </td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                    <td>
                        <input type="submit" value="Submit Employee">
                    </td>

                </form>
    </tr>

    
    
</table>

<%- include('../partials/footer') %>