<%- include('../partials/header') %>

<h3>Week:</h3>
<table>
    <tr>
        <th>Employee</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Labor</th>
        <th>Delete</th>
    </tr>

    
    <% schedule.shifts.forEach(shift => { %>
        <tr>
            
            <td>
               <%= shift[0].employeeName %>
            </td>
        
        <% shift.forEach(schedule => { %>
            <td>
                <% if (!schedule.startTime) { %>
                    <%= 'OFF' %>
               <% } else { %>
                    <%= `${schedule.startTime} - ${schedule.endTime}` %>
                <% } %>
            </td>    
            <% }) %>
            <td>
                <% schedule.shifts.forEach(shift => { %>
                    <% shift.forEach(schedule => {%>
                       <% let total = 0 %>
                       <% total += schedule.wage * schedule.hours %>
                        <%= total %>
                   <% }) %>
               <% }) %>
                
            </td>
            <td><form action="/schedulize/<%=schedule._id%>?_method=DELETE" method=POST><button>X</button></form></td>
        </tr>
        <br>
    <% }) %>

    <tr>
        <form action="/schedulize/<%=schedule._id%>?_method=PUT" method=POST>
        <td>
            <label>
            <select name="employee">
                <%- employees.map(employee => `<option value="${employee._id}">${employee.name}</option>`).join('') %>  
              </select>
            </td>
            <td>
                <select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select>
                </td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                    <td>
                        <input type="submit" value="Submit Employee">
                    </td>
                </form>
                     <td>
                         <a href="/schedules"><button type="submit">Back</button></a>
                     </td>

    </tr>

    
    
</table>

<%- include('../partials/footer') %>