<%- include('../partials/header') %>

<h3>Week: <%= schedule.week.toLocaleDateString() %></h3>
<table class="table">
    <tr>
        <th>Employee</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Labor</th>
        <th>Hours</th>
        <th></th>
    </tr>
    
    <% let max = 0 %>
    <% schedule.shifts.forEach((shift,idx) => { %>
        <tr>
            
            <td class="border">
               <%= shift[0].employeeName %>
            </td>
        
        <% shift.forEach(schedule => { %>
            <td class="border">
                <% if (!schedule.startTime) { %>
                    <%= 'OFF' %>
               <% } else { %>
                    <%= `${schedule.startTime} - ${schedule.endTime}` %>
                <% } %>
            </td>    
            <% }) %>
            <td class="border">
                <% let totalHours = 0 %>
                    <% let total = 0 %>
                    <% schedule.shifts[idx].forEach(sched => {%>
                        <% let otWage = sched.wage * 1.5 %>
                            <% totalHours += sched.hours %>
                               <% if (totalHours <= 40) { %>
                                <% total += sched.wage * sched.hours %>
                            <% } else if (totalHours > 40) { %>
                                <% total = (totalHours - 40) * otWage + (sched.wage * 40) %> 
                            <% } %>
                        <% }) %>
                        <% max += total %>
                       <%= `$${total.toFixed(2)}`%>
            </td>
            <td class="border <%= totalHours > 40 ? 'active' : '' %>">
                <%= totalHours %>
            
            </td>
            <td><form action="/schedulize/<%=schedule._id%>/employee/<%=idx%>?_method=DELETE" method=POST><button>X</button></form></td>
        </tr>
        <% }) %>
        <tr>
            <td class="border">Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="border">
                <%= `$${max.toFixed(2)} ` %>
                </td>
        </tr>
        <br>
<% if (employees.length) {%>
    <tr>
        <form action="/schedulize/<%=schedule._id%>?_method=PUT" method=POST>
        <td>
            <label>
            <select class="select" name="employee">
                <%- employees.map(employee => `<option value="${employee._id}">${employee.name}</option>`).join('') %>  
              </select>
            </td>
            <td>
                <select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select>
                </td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                <td><select class="select" name="shifts">
                    <% shifts.forEach(shift => { %>
                        <option value="<%= `${shift.startTime} - ${shift.endTime}` %>"><%= `${shift.startTime} - ${shift.endTime}` %> </option>
                        <% }) %>
                    </select></td>
                    <td>
                        <input type="submit" value="Submit Employee">
                    </td>
                </form>
                     <td>
                         <a href="/schedules"><button type="submit">Back</button></a>
                     </td>

    </tr>


 <% } %>
    
    
</table>

<%- include('../partials/footer') %>