<%- include('../partials/header') %>

<form class ="shiftform" action="/shifts/<%=shifts._id%>?_method=PUT" method=POST>

    <label for="date">Start:
        <input class="select" type="time" name="startTime" value="<%=shifts.startTime%>">
    </label>
    
    <label for="date">End:
        <input class="select" type="time" name="endTime" value="<%=shifts.endTime%>">
    </label>
    <input class="select" type="submit" value="Submit">
</form>

<%- include('../partials/footer') %>