<%- include('../partials/header') %>
<div class="shiftdiv">

    <h3>Possible Shifts (Input blank times for "OFF")</h3>
    
    <% shifts.forEach(function(shift) { %>
        <ul>
            <li class="shift"><%= `${shift.startTime} - ${shift.endTime}` %>
                <a href="/shifts/<%=shift._id%>/edit"><button class="select">Edit</button></a>
                <form action="/shifts/<%=shift._id%>?_method=DELETE" method="POST"><button class="select" type="submit">X</button></form>
            </li>
        </ul>
        
        <% }) %>
        
        
        <form action="/shifts" method=POST>
            
            <label for="date">Start:
                <input class="select" type="time" name="startTime">
            </label>
            
            <label for="date">End:
                <input class="select" type="time" name="endTime">
            </label>
            <input class="select" type="submit" value="Submit">
        </form>
        
    </div>
        
        
        <%- include('../partials/footer') %>
        