<%- include('../partials/header') %>

<h3>Possible Shifts (Input blank times for "OFF")</h3>

<% shifts.forEach(function(shift) { %>
    <ul>
        <li><%= `${shift.startTime} - ${shift.endTime}` %>
            <a href="/shifts/<%=shift._id%>/edit"><button>Edit</button></a>
            <form action="/shifts/<%=shift._id%>?_method=DELETE" method="POST"><button type="submit">X</button></form>
        </li>
    </ul>

<% }) %>


<form action="/shifts" method=POST>

    <label for="date">Start:
        <input type="time" name="startTime">
    </label>
    
    <label for="date">End:
        <input type="time" name="endTime">
    </label>
    <input type="submit" value="Submit">
</form>



<%- include('../partials/footer') %>
